services:

  web:
    build: .
    container_name: django_app
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    depends_on:
      - db
    environment:
      DB_NAME: examdb
      DB_USER: examuser
      DB_PASSWORD: exampass
      DB_HOST: db
      DB_PORT: 5432

  db:
    image: postgres:15
    container_name: postgres_db
    environment:
      POSTGRES_DB: examdb
      POSTGRES_USER: examuser
      POSTGRES_PASSWORD: exampass
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data

volumes:
  pg_data:
